

  
  * {
    box-sizing: border-box;
  }

  .container{
    max-height: 5000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    padding: 20px auto ;
  }

  .billing{

    max-height: 1000px;
    height: auto;
    max-width: 800px;
    width: 100%;
    border: black solid 3px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(233, 233, 233);

  }

  .billing-list{

    max-height: 517px;
    height: 517px;
    max-width: 400px;
    width: 100%;
    border: black solid 3px;
    margin: 0 auto;
    background-color: rgb(233, 233, 233);
  }


  .form{
    max-height: 200px;
    height:60px;
    max-width: 300px;
    width: 100%;
    margin: 10px auto;
  }

  form .form input[type='text']{
    width: 100%;
    height: 28px;
  }
  .check{

    width: 300px;
    height: 30px;
    margin: 10px auto;

  }
  .process{

    width:700px;
    height: 45px;
    margin: 10px auto;

  }
  .process button{
    width:100%;
    height: 35px;
    background-color: limegreen;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    
  }
  

  table{
    max-width: 400px;
    width: 400px;
    text-align: center;
    padding: 10px;
    
  }

  td{
    border: 1px black solid;
  }
  td img{
    max-width: 50px;
    width: auto;
    max-height: 50px;
    height: auto;
  }
  .total-all{
    max-width: 300px;
    width: 100%;
    max-height: 30px;
    height: auto;
    margin: 10px auto;
  }

  .total-all p{
    text-align: center;
    font-size: x-large;
  }

  @media only screen and (max-width: 1249px){
    .container{
      max-width: 1024px;
    }

    .billing{
      max-width: 600px;
    }
    .form{
      max-width: 250px;
    }
   
    .process{
      width: 300px;
    }
    .billing-list{

      max-height: 800px;
      height: 517px;
    }

  }
  
  @media only screen and (max-width: 1023px){
    .container{
      max-width: 768px;
    }

    .billing{
      max-width: 350px;
    }
    .form{
      max-width: 150px;
    }
   
  }
  
  @media only screen and (max-width: 767px){
    .container{
      max-width: 601px;
    }

    .billing{
      max-width: 601px;
      order: 2;

    }
    .form{
      max-width: 110px;
    }
    .billing-list{
      max-width: 601px;
      height: auto;
      margin: 10px 0;
      order: 1;
    }
    
    
  }
  
  @media only screen and (max-width: 600px){
    .container{
      max-width: 380px;
    }

    .form{
      max-width: 170px;
    }
    table{
      max-width: 370px;
      font-size: 12px;
    }
    
   }
  
   @media only screen and (max-width: 379px){
  
    .container{
      max-width: 320px;
    }
   
    .form{
      max-width: 140px;
    }
    table{
      max-width: 308px;
      font-size: 12px;
    }
   }
  
   @media only screen and (max-width: 319px){
    .container{
      max-width: 280px;
    }
    .form{
      max-width: 120px;
    }
    table{
      max-width: 270px;
      font-size: 10px;
    }
   }
  
  