 html {
    height: 100%;
}

.container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 5px;

}






/* start categories */
.categories{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    
}

.categories .guitar,.piano,.drums,.accesories{
  max-height: 300px;
  max-width: 300px;
  background-color: darkgray;
 
  height: 200px;
  margin: 10px auto;
 
}

.img-cover{

  height: 100%;
  width:100%;
}

.title-c{
  color: whitesmoke;
  position: relative;
  bottom: 50px;
  text-align: center;
  
}


/* end */


.f-product{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin:0 auto;
  justify-content: space-around;

}

.f-product div{
 
  height: 400px;
 
  margin: 0 auto;
  color: black;
}

.img-product{
  width:100%; max-height: 200px;
}

/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width:250px;
  max-height: 400px;
  height: 100%;
  text-align: center;
  font-family: arial;
  border-radius: 15px;

  
}
.card h1{
  font-size: 20px;
}

.checked {
  color: orange;
  font-size: 12px;
}
.card p{
  font-size: 14px;
  margin: 5px 10px  0 10px;
}

.price {
  color: grey;
  font-size: 16px;
}

.card button {
  border: none;
  outline: 0;
  max-width: 150px;
  max-height: 50px;
  height: 50px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  padding: 100px auto;
  position: relative;
  top: 30px;
  border-radius: 30px;
 
}

.card button:hover {
  opacity: 0.7;
}


/* end */

.title-name{
  background-color: black;
  color: #fff;
  border: 3px color black;
  margin: 0  auto ;
  padding: 0px 2px;
  border-radius: 15px;
  
}





/* footer */


footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  
  color: #eb2f06;
}


@media only screen and (max-width: 1249px){
  .container{
    max-width: 1024px;
  }
  .categories .guitar,.piano,.drums,.accesories{
    max-width: 250px;
    height: 140px;
  }

  .categories{
    height: 200px;
  }

  .card{
    margin: 10px 0!important;
    max-width: 230px;
  }

}

@media only screen and (max-width: 1023px){
  .container{
    max-width: 768px;
  }
  .categories .guitar,.piano,.drums,.accesories{
    max-width: 140px;
    height: 140px;
  }

  .categories{
    height: 200px;
  }

  .card{
    margin: 10px 0!important;
    max-width: 180px;
  }
}

@media only screen and (max-width: 767px){
  .container{
    max-width: 601px;
  }
  .categories .guitar,.piano,.drums,.accesories{
    max-width: 140px;
    height: 140px;
  }

  .categories{
    height: 200px;
  }

  .card{
    max-width: 250px;
  }
}

@media only screen and (max-width: 600px){
  .container{
    max-width: 380px;
  }
  .categories .guitar,.piano,.drums,.accesories{
    max-width: 150px;
    height: 100px;
  }
  .categories{
    height: 300px;
  }
 
  .img-product{
    width:100%; max-height: 200px;
  }

  .card{
    max-width: 150px;
  }

  .f-product{
    margin: 0 10px;

  }
  .img-cover{
    height: 100%;
    width: 100%;
  }
 }

 @media only screen and (max-width: 330px){

  .container{
    max-width: 320px;
  }
  .card{
    max-width: 130px;
  }
  .card button{
    height: 35px;
  }

 }

 @media only screen and (max-width: 319px){
  .container{
    max-width: 280px;
  }
  .categories .guitar,.piano,.drums,.accesories{
    max-width: 130px;
  }
  .card{
    max-width: 100%;
  }
  .card button{
    height: 35px;
  }
 }






@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
  